.heading{
    width: 100%;
    margin: 0;
    font-size: 25px;
}
.heading button{
    float: right;
    border: 3px solid rgb(202, 0, 0);
}
.heading h2{
    display: inline;
}

.bigimage{
    width: 100%;
}

#playgame,#status{
    font-size: 25px;
}

.credit{
    background-color: white;
    line-height: 2;
    margin: 0px;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
.modal-dialog{
    width: 90%;
    background-color: tomato;
}
h4{
    background-color: white;
}
.instruction{
    display: inline-block;
    width: 45%;
}

video{
    background: url("game_console.png");
    background-size: cover;
    background-position:center ;
    padding: 25px;
}